.shore-slider {
  position: relative;
  overflow: hidden;
}

.shore-wrapper {
  display: flex;
  width: fit-content;
  height: 100%;
  position: relative;
}

.shore-animation-fade .shore-slide {
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.shore-nav {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;
}

.shore-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shore-arrow {
  pointer-events: initial;
}

.shore-tabs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.shore-tab {
  pointer-events: initial;
}
